@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

.header{
  text-align: center;
  padding-bottom: 5em;
}
#logo{
  overflow: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 45%;
}
#bar{
  width: 35px;
  height: 30px;
}

.gallery{
  margin-left: 5%;
  display: inline-block;
  box-sizing: border-box;
}

############################### NAV BAR ########################
#nav {
  position: absolute;
  top: 0;
  left: 0;
    /* container */
}
#nav>a {
    display: none;
}
a{
   text-decoration: none;
   color: black;
   font-family: 'Cormorant Garamond', serif;

}
#nav li {
    position: relative;
    padding-bottom: 1em;
}
/* first level */
#nav>ul {
    height: 3.75em;
}
#nav>ul>li {
    height: 100%;
    float: left;
}
/* second level */
#nav li ul {
    display: none;
    position: absolute;
}

#insideNav{
        border: 1px solid black;
}
#nav li:hover ul {
    display: block;
}

.gallerypic{
  width: 200px;
  height: 140px;
  padding: 0.5em;
}

.gallerypic:hover{
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5);
}
